/build/
/.gradle/
/.classpath
/.project
/.settings/
/.idea/
/bin/
/classes
.oracle_jre_usage/
*.bash_history
*.orig
gsrc/test/test.iml
*.iml

loadTesting/*Results.csv

loadTesting/jmeter.log

loadTesting/InternalAPI/*Results.csv
loadTesting/ExternalAPI/*Results.csv
/test/
