@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body, html {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 90%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Raleway';
    scroll-behavior: smooth;
}
body{
    background-image: url('among_trees_night_dribbble.png');
    height: 100vh;
    background-position: center;
    background-size: 100%;
    display: flex;
  align-items: center;
  justify-content: center;

}
.borderbox{
    position: relative;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 3px;
    border: 4px solid transparent;
    border-radius: 16px;
    background:rgba(0, 0, 0, 1);
    background-clip: padding-box;

}
.borderbox::after{
        position: absolute;
        top: -4px; 
        bottom: -4px;
        left: -4px; 
        right: -4px;
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        content: '';
        z-index: -1;
        border-radius: 16px;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
}

  @keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}