

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  grid-auto-rows: minmax(40px, auto);
  grid-auto-flow: dense;
}

.grid-container div{
    color: transparent ;
    background-color: blue;
    background-image: url(photo.jpeg);
    background-size:cover;
}
.grid-container div:hover{
    background-image: none;
    color: white;
    text-align: center;

}

.random{

    vertical-align: middle;
    line-height: 160px;  
    grid-column-end: span 3;
    grid-row-end: span 4;
}

.wide{

    vertical-align: middle;
    line-height: 80px;  
    grid-column-end: span 4;
    grid-row-end: span 2;
}
.taller{

    vertical-align: middle;
    line-height: 160px;  
    grid-column-end: span 2;
    grid-row-end: span 4;
}
.mid{
    vertical-align: middle;
    line-height: 120px;  
    grid-column-end: span 3;
    grid-row-end: span 3;
}