@media only screen and (max-width: 1000px) {
    body {
      font-size: 70%;
    }
    .line2{
        top:4%;
    }
  }

  @media only screen and (max-width: 600px) {
    body {
      font-size: 50%;
    }
    .line2{
        top:3%;
    }
  }